body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  color: #b03060;
}

.form input, textarea {
  display: block;
  width: 320px;
  margin: 10px 0;
  padding: 8px;
}

button {
  background: #b03060;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

li {
  background: white;
  margin: 10px 0;
  padding: 10px;
}
